
@media screen and (min-width: 736px) {
	.parallax-norepeat {
		height: 100%;
		margin: 0 auto;
		width: 100%;
		position: relative;
		background-position: 50% 50%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	.parallax {
		height: 100%;
		margin: 0 auto;
		width: 100%;
		position: relative;
		background-position: 50% 50%;
		background-attachment: fixed;
	}
}

.overlay {
    padding: 150px 0;
    height: 100%;
    background: rgba(255,255,255,1);
    /* Old Browsers */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(80%, rgba(255,255,255,0)));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
    /* IE 10+ */
    /* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%); */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    /* IE6-9 */
    /* 
    display: table;
 */
    width: 100%;
}

.overlay2 {
    padding: 150px 0;
    height: 100%;
    background: rgba(255,255,255,1);
    /* Old Browsers */
    background: -moz-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 95%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.1)), color-stop(95%, rgba(255,255,255,0.5)));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 95%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 95%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 95%);
    /* IE 10+ */
    /* background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 95%); */
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    /* IE6-9 */
    /* 
    display: table;
 */
    width: 100%;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.hero-title{
    font-size: 2.5em;
    letter-spacing: 0;
    font-weight: 400;
    color: #ccc;
}

@media screen and (min-width: 480px) {
    .poster.hidden{
        display: none;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 480px) {
    .video-container video{
        display: none;
    }
}